<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <title>Victim Info</title>
    </head>
    
<body>
<center><h1>Victim Info</h1><form action="clean_config">
	<input type="submit" value="Reset Configuration"/>
	</form></center><hr>
<div>
    This is a windows machine that run a web werver that is vulnerable to the Log4J attack.  Bad idea !
</div>
</body>
</html>
